.Image_wrapper {
    border: 1px solid gray;
    border-radius: 4px;
    display: inline-block;
    padding: 1em;
    margin: 1em;
    max-width: 25%;
}
.Image {
}
#stitch-progress {
    display: none;
}
