.Image_wrapper {
    border: 1px solid gray;
    border-radius: 4px;
    display: inline-block;
    padding: 1em;
    margin: 1em;
    max-width: 25%;
}
.Image {
}
#desktop {
    /* This makes it possible to anchor the images to the desktop */
    position: relative;
    height: 100%;
}
#stitch-progress {
    display: none;
}
