body {
    background: #202025;
    color: white;
    font-family: sans-serif;
}

#commands {background: black;}
    #commands li {
        list-style: none;
        padding: 0.3em 0.1em;}
    #commands li:hover {
        color: gray;}

#desktop {
    /* This makes it possible to anchor the images to the desktop */
    position: relative;
    height: 100%;}
    #desktop .Image_wrapper {
        background: white;
        border: 1px solid gray;
        border-radius: 4px;
        display: inline-block;
        margin: 1em;
        max-width: 25%;}
    #desktop .ui-selected {
        border: 3px solid white;}

#image_menu {
    display: none;
    position:absolute;
}
